@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />

<h2>Fatura Kalemleri Sayfası</h2>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"></li>
</ol>

<table class="table table-hover">
    <tr>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Aciklama</td>
            <td>@p.Miktar</td>
            <td>@p.BirimFiyat</td>
            <td>@p.Tutar</td>
        </tr>
    }
</table>

<a href="/Fatura/YeniKalem/ " class="btn btn-info">Yeni Kalem Girişi</a>