@model MvcOnlineTicariOtomasyon.Models.Siniflar.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kullanıcı</h2>
<br />

<form method="post">
    @Html.LabelFor(x => x.KullaniciAd)
    @Html.TextBoxFor(x => x.KullaniciAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Sifre)
    @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>